/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #a2f1c1;
    text-shadow: none;
}

::selection {
    background: #a2f1c1;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @keyframes risein {
       from {transform:translateY(100%);}
       to {transform:translateY(0%);}
   }

 .animation .g,  .animation .d,  .animation .two {
   display: inline-block;
 }

 .animation {
    animation:spin 12s linear reverse infinite;
    display: inline-block;
    font-size: 30px;
    position: fixed;
    right:6vw;
    top:6vw;
    transform-style: preserve-3d;
    font-weight: bold;
 }

   .animation .g {
     animation:spin 6s linear -.4s infinite;
   }
   .animation .d {
     animation:spin 6s linear -.8s infinite;
   }
   .animation .two {
     animation:spin 6s linear -1.8s infinite;
   }


 body {
   padding:6vw 60px 6vw 6vw;
   font-family: monospace;
   color:#545454;
   background-color:#f6f6f6;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 16px;
   line-height: 1.5;



 }



h1 {
font-family: 'Playfair Display', serif;
font-weight: 900;
font-size: 34px;
line-height: 1.2;

}

h2 {
font-size: 34px;
line-height: 1.2;
}

h3 {
font-size: 21px;
line-height: 1.2;
font-style: italic;
}

h4 {
font-size: 13px;
}

h5 {
font-size: 10px;
}

h2,h3 {
font-family: 'Playfair Display', serif;
font-weight: normal;
}

h4,h5,h6 {
  font-family: 'Source Code Pro', monospace;
}

.monospace, a {
  font-family: 'Source Code Pro', monospace;
  font-size: 80%;

}

p.small {
  font-size: 12px;
}

a {
  color:inherit;
  text-decoration: none;
  padding-bottom: .3em;
  padding-top: .3em;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid #2d262d;
}

.strikethrough:before {
  content:"";
  height:2px;
  background:#2d262d;
  position: absolute;
  width:120%;
  margin-top: .7em;
  transform: rotate(-8deg);
}

.strikethrough {
  position: relative;
}

.main-content-well {
  max-width: 32em;
}

ul {
  list-style: none;
  padding-left: 1.3em;
}



li {
  margin-bottom:.6em;
}

ul li:before {
  content: "•";
  padding-right: 1em;
  opacity:.4;
  margin-left: -1.3em;
}

ol.timeline {
  border-left:1px dashed black;
  margin-left: 2em;
}

ol li {
  list-style: none;
  counter-increment: step-counter;
  position: relative;
  margin: 1em 0;
  display: block;
}

.inactive {
  text-decoration: line-through;
  opacity:.7
}




ol li:before {
    content:counter(step-counter)"." ;
    margin-right: 5px;
    font-size: 60%;
    position:absolute;
    text-align: center;
    width:3em;
    margin-left: -5em;
    margin-top: 0;
    padding:.6em 0
}

.agenda-item {
  display:block;
}

.source {
  font-size: 60%;
  display: inline-block;
  border:1px solid rgba(0,0,0,.2);
  transform:translateY(-.1em);
  padding:.3em .6em;
  margin-left:.6em;
  text-transform: uppercase;
  border-radius: 100px;
}

.call-to-action {
  background:#545454;
  color: #f6f6f6;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  padding:1em .6em;
  transition: 300ms;
  font-size: 60%;
  animation:risein 1s ease 300ms both;
}

.call-to-action:hover {
  padding:1.6em .6em;
}

a.button {
  border:1px solid;
  border-radius: 100px;
  padding:.3em .6em;
  transition: 300ms;
  display: inline-block;
}

a.button.inactive {
  opacity:.4;
}


a.button.active:hover {
  border:1px solid;
  border-radius: 100px;
  padding:.3em .6em;
  background:#f6f6f6;
  color: #545454;
  transition: 100ms;
}

/* assignment-2 styles */

@keyframes spin {
        from {
          transform:rotateX(60deg) rotateZ(0deg);
        }

        to {
          transform:rotateX(60deg) rotateZ(360deg);
        }
      }

      @keyframes fade-in {
        0% {
          transform:translateY(0px);
          opacity:1;
          animation-timing-function: ease-out;
        }

        10% {
          transform:translateY(-30px);
          opacity:1;
          animation-timing-function: ease-in;
        }

        20% {
          transform:translateY(0px);
          opacity:1;
          animation-timing-function: ease-out;
        }

        100% {
          transform:translateY(0px);
          opacity:1;
          animation-timing-function: ease-out;
        }
      }

      @keyframes spin-alt {
        from {
          transform:rotateX(-90deg) rotateY(0deg);
        }

        to {
          transform:rotateX(-90deg) rotateY(360deg);
        }
      }
      .a2-image-illustration {
          transform-style: preserve-3d;
          position: absolute;
          display:none;
          width:400px;
          height:400px;
          animation: spin 30s infinite linear reverse;
          left:60%;
          top:130px;
          transform-origin: 45% 45%;
        }

        .a2-image-illustration img {
          width:auto;
          height:100%;
          animation-name: fade-in;
          animation-duration:4000ms;
          animation-fill-mode: both;

          animation-iteration-count: infinite;
        }

        .a2-image-illustration .img-textbubble1 img {
          animation-delay:300ms;
        }

        .a2-image-illustration .img-imgbubble1 img {
          animation-delay:600ms;
        }

        .a2-image-illustration .img-textbubble2 img {
          animation-delay:900ms;
        }

        .a2-image-illustration .img-imgbubble2 img {
          animation-delay:1200ms;
        }





        .a2-image-illustration .img-line{
          background-image: url("../img/a2/line.png");
          background-size: contain;
          background-repeat: no-repeat;
          width:300px;
          height:300px;
          position: absolute;
        }

        .a2-image-illustration .img-shadow{
          background-image: url("../img/a2/shadow.png");
          transform:translateZ(-40px);
          background-size: contain;
          background-repeat: no-repeat;
          width:300px;
          height:300px;
          position: absolute;
        }

        .a2-image-illustration .img-textbubble1{
          transform:rotateX(-90deg);
          width:200px;
          height:200px;
          top: -120px;
          left: 200px;
          position: absolute;
          animation: spin-alt 30s infinite linear reverse;
          transform-origin: 35% 90%;
        }

        .a2-image-illustration .img-textbubble2{
          transform:rotateX(-90deg);
          width:200px;
          height:200px;
          top: 0px;
          left: 55px;
          position: absolute;
          animation: spin-alt 30s infinite linear reverse;
          transform-origin: 34% 90%;
        }

        .a2-image-illustration .img-imgbubble1{
          transform:rotateX(-90deg);
          width:200px;
          height:200px;
          top: -40px;
          left: 153px;
          position: absolute;
          animation: spin-alt 30s infinite linear reverse;
          transform-origin: 28% 90%;
        }
        .a2-image-illustration .img-imgbubble2{
          transform:rotateX(-90deg);
          top: 60px;
          left: -44px;
          width:200px;
          height:200px;
          position: absolute;
          animation: spin-alt 30s infinite linear reverse;
          transform-origin: 36% 90%;
        }



        .a3-image-illustration {
            transform-style: preserve-3d;
            position: absolute;
            display:none;
            width:400px;
            height:400px;
            left:63%;
            top:130px;
            background-image: url(../img/a3/backdrop.png);
            background-size: contain;
            background-repeat: no-repeat;
          }

        .a3-image-illustration .hero{
          width:200px;
          height:300px;
          transform: translateZ(50px);
        }

        .a3-image-illustration .hero img{
          width:100%;
        }

        @keyframes cloudanimation {
          from {
            background-position: 0px 0px;
          }

          to {
            background-position: 600px 438px;
          }
        }

        .a3-image-illustration .clouds {
          background-image: url(../img/a3/cloudpatt-b.png);
          background-size: 600px;
          position: absolute;
          transform: translateZ(-25px);
          top:0;
          right:0;
          bottom:0;
          left:0;
          animation: cloudanimation linear 30s infinite;
        }

        .a3-image-illustration .clouds-2 {
          background-image: url(../img/a3/cloudpatt-f.png);
          background-size: 600px;
          position: absolute;
          transform: translateZ(100px);
          top:0;
          right:0;
          bottom:0;
          left:0;
          animation: cloudanimation linear 12s -4s infinite;
        }


        @keyframes capeanimation {
          0% {
            background-position: 0px 0px;
          }

          33% {
            background-position: -200px 0px;
          }

          66% {
            background-position: -400px 0px;
          }

          100% {
            background-position: -200px 0px;
          }
        }

        .a3-image-illustration .cape {
          background-image: url(../img/a3/capesprite.png);
          background-size: 600px;
          position: absolute;
          transform: translateZ(35px);
          top:20px;
          left:80px;
          animation: capeanimation steps(1,end) .5s infinite;
          background-repeat:no-repeat;
          width:170px;
          height:300px;
        }

      

@media (min-width: 800px) {

  h1 {
  font-size: 4vw;

  }

  body {
    background-repeat: no-repeat;
    font-size: 18px;
  }

  body.assignment-1 {
    background-image:url("../img/bg-a1.png");
    background-position: top right;
    background-size: 40%;
  }

   body.assignment-2 {
    background-image:url("../img/a2/bg.png");
    background-size: 240px;
    background-position: 80% 20px;
  }

  body.assignment-3 {

   background-size: 400px;
   background-position: 85% 150px;
    overflow-x: hidden;
 }

  .animation {
     font-size: 100px;
  }

  p.small {
    columns: 2;
    column-gap: 20px;
  }

.aside-right {
  float:right;
  font-size: 70%;
  margin: 0 -20% 10% 10%;
  padding:1em 2em;
  width:40%;
  border-left:1px solid rgba(0,0,0,.5);
}

.aside-left {
  position:fixed;
  font-size: 70%;
  left:0;
  padding:1em 2em;
  width:10%;
}

.main-content-well {
  margin-left:10%;
}

.a2-image-illustration, .a3-image-illustration {
  display:block;
}

}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
